iolite_samples/base
iolite_samples/user_data
iolite_samples/sample_village
iolite_samples/imgui.ini
iolite_samples/keybindings_editor.json
iolite_samples/keybindings_global.json
iolite_samples/property_metadata.json
iolite_samples/*.exe
iolite_samples/*.so
iolite_samples/*.dll
iolite_samples/settings.json

media/**/*.png

iolite_c_api/sample_plugins/build
iolite_c_api/sample_plugins/.cache
iolite_c_api/sample_plugins/*.so
iolite_c_api/sample_plugins/*.dll
iolite_c_api/sample_plugins/*.pdb
iolite_plugins/build
iolite_plugins/.cache
iolite_plugins/*.so
iolite_plugins/*.dll
iolite_plugins/*.pdb

hohenzollern_castle_and_kingdom.vox
